<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<style type="text/css">
			button {
				width: 30xp;
				height: 40px;
				border: beige solid 1px;
				font-size: 20px;
				padding: 5px 20px;
				background-color: beige;
				margin-left: -5px;
			}

			#mid {
				background-color: white;
			}

			#left {
				border-radius: 10px 0px 0px 10px;
			}

			#right {
				border-radius: 0 10px 10px 0;
			}
		</style>
		<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	</head>
	<body>
		<div id="test">
			<div id="">
				<button id="left" type="button" @click="sub"> - </button>
				<button id="mid" type="button"> {{num}} </button>
				<button id="right" type="button" @click="add"> + </button>
			</div>
			<div v-if="num===0">购物车空</div>
			<ul v-for="i in arr" :key="i" v-else>
				<li>{{"商品："+i}}</li>
			</ul>

		</div>
		<script type="text/javascript">
			var app = new Vue({
				el: '#test',
				data: {
					num: 0,
					arr: []
				},
				methods: {
					add: function() {
						if (this.num >= 10) {
							alert("不能大于10")
						} else {
							this.arr.push(++this.num);
							return this.num
						}
					},
					sub: function() {

						if (this.num === 0) {
							alert("不能再减少了")
						} else {
							this.arr.pop();
							return this.num--;
						}
					}
				}
			})
		</script>
	</body>
</html>
